[submodule "gera-odoo/helpdesk_ohme"]
	path = gera-odoo/helpdesk_ohme
	url = git@github.com:gera-odoo/helpdesk_ohme.git
	branch = main

[submodule "gera-odoo/ohme_helpdesk"]
	path = gera-odoo/ohme_helpdesk
	url = git@github.com:gera-odoo/ohme_helpdesk.git
	branch = main
